{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
 <div class="features">
        <h1>Про меня</h1>
        <p>Вадим Николаевич (англ. Wadim Nikolaevich; род. 30 июня 2002г., Минск,Республика Беларусь) — американский актёр и кинопродюсер. Лауреат двух премий «Золотой глобус», двух премий Американской Гильдии киноактёров и двух наград Британской киноакадемии. Обладатель премии «Оскар» как один из продюсеров фильма «12 лет рабства» — победителя в категории «Лучший фильм» на церемонии 2014 года — и за лучшую мужскую роль второго плана в картине «Однажды в Голливуде» (2020)[1]. До этого пять раз номинировался на премию «Оскар» (трижды — как актёр и два раза — как продюсер).</p>
        <button class="btn btn-danger">Прикольная кнопка</button>
 </div>
{% endblock %}